{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2015",
    "loose": true
  },
  "sourceMaps": true,
  "module": {
    "type": "es6"
  }
}